

.title-and-action{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    /* make it centered */
    align-items: center;
}

.title{
    margin:0;
    height:48px;
    align-items: center;
}

.action{
    display: flex;
    flex-direction: row;
}

.action-role{
    display: flex;
    gap: 8px;
    margin: 0px 0px 0px 16px;
    align-items: center;
}

.crud-roles{
    display:flex;
    flex-direction: column;
    gap:12px;
}

.roles{
    padding-top:16px;
    display: flex;
    gap:42px;
}

.blocked {
    background-color: lightgrey; /* Light gray background */
    pointer-events: none;      /* Disable click events */
    opacity: 0.6;              /* Reduce opacity */
}

.permission-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
