.search {
  display: flex;
  margin-right: 22px;
  width: 35%;
}

.menus {
  display: flex;
  gap: 40px;
}

.users-content {
  border: 2px solid #f0f0f0;
}

.title {
  margin-top: 20px;
  margin-left: 15px;
}

.title p {
  font-size: 32px;
  font-weight: bold;
}

.menus p {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.menu-name-images img {
  width: 50px;
  height: 50px;
}

.menu-name-images {
  margin-left: 20px;
  display: flex;
  gap: 10px;
}

.menu-name-images p {
  font-weight: 400;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.menu-name-images .cds--btn--icon-only {
  justify-content: center;
  padding: 0;
  block-size: var(--cds-layout-size-height-local);
  inline-size: var(--cds-layout-size-height-local);
  padding-block-start: min(
    (var(--cds-layout-size-height-local) - 1rem) / 2 - 0.0625rem,
    var(--temp-padding-block-max)
  );
}

.menu-name-images .cds--btn--primary {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--cds-button-primary, white);
  color: var(--cds-text-on-color, black);
}

.menu-name-images .cds--btn--primary:hover {
  background-color: #0f62fe;
}

.menu-name-images .cds--btn--icon-only:hover {
  color: white;
}

.menu-name-images .cds--btn--secondary {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--cds-button-primary, white);
  color: var(--cds-text-on-color, black);
}

.menu-name-images .cds--btn--secondary:hover {
  background-color: #393939;
}

.users-tables {
  margin-top: 50px;
  max-width: 97%;
  margin-left: 20px;
}

.users-tables .cds--pagination {
  margin-bottom: 25px;
}

.users {
  display: flex;
  position: relative;
}

.users-content {
  flex-grow: 1;
}

.edit-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  z-index: 1000;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.edit-sidebar.active {
  transform: translateX(0);
  padding: 1rem;
  width: 30rem;
}

.edit-sidebar .bx--side-nav__items {
  padding: 20px;
}

.edit-sidebar .bx--side-nav__menu-item {
  margin-bottom: 20px;
}

.edit-sidebar h3 {
  margin-top: 0;
}

.edit-sidebar button {
  /* margin-top: 20px; */
  margin-right: 10px;
}

.edit-form {
  padding: 20px;
}

.close-button {
  margin-bottom: 20px;
}

.input-text {
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.radio-container {
  margin: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
}
