.search {
    display: flex;
    margin-right: 22px;
    width: 35%;
  }

.menus {
    display: flex;
    gap: 40px;
}
  
.endpoint-content{
    margin-top: 50px;
    border: 2px solid #f0f0f0;
}

.title {
    margin-top: 20px;
    margin-left: 15px;
}

.menus p {
    /* font-size: 30px; */
    font-weight: 500;
    display: flex;
    align-items: center;

}

.menu-name-images img {
    width: 50x;
    height: 50px;
}

.menu-name-images {
    margin-left: 20px;
    display: flex;
    gap: 10px;
}

.menu-name-images p {
    font-weight: 400;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.menu-name-images .cds--btn--icon-only {
    justify-content: center;
    padding: 0;
    block-size: var(--cds-layout-size-height-local);
    inline-size: var(--cds-layout-size-height-local);
    padding-block-start: min((var(--cds-layout-size-height-local) - 1rem) / 2 - 0.0625rem, var(--temp-padding-block-max));
}
.menu-name-images .cds--btn--primary {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--cds-button-primary, white);
    color: var(--cds-text-on-color, black);
} 

.menu-name-images .cds--btn--primary:hover {
    background-color: #0f62fe;
}

.menu-name-images .cds--btn--icon-only:hover {
    color: white;
}

.menu-name-images .cds--btn--secondary {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--cds-button-primary, white);
    color: var(--cds-text-on-color, black);
} 

.menu-name-images .cds--btn--secondary:hover {
    background-color: #393939;
}

.endpoint-tables {
    margin-top: 50px;
    max-width: 97%;
    margin-left: 20px;
}


.endpoint-tables .cds--pagination {
   margin-bottom: 25px;
}

.endpoint-tab .cds--tabs {
    display: flex;
    margin-top: 90px;
    justify-content: center;
}


.endpoint-tab .cds--tabs .cds--tab--list {
    display: flex;
    inline-size: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    will-change: scroll-position;
    gap: 50px;
}
