
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin:10px 16px;
}

.astra{
  font-size: 19px;
  font-weight: bold;
}

.data-fabric{
  font-size: 14px;
  font-weight: 500;
}

.profile{
  /* flexbox is for bikin element htmlnya lebih rapih */
  display: flex; 
  /* right justify */
  justify-content: flex-end;
  align-items:center;

}

.name{
  font-size: 14px;
  font-weight: 500;
  /* 10px 16px atas-bawah kanan-kiri */
  margin:1px 14px;
  display: flex;
  justify-content: center;
}
.role{
  font-size: 14px;
  font-weight: 500;
  /* 10px 16px atas-bawah kanan-kiri */
  margin:3px 14px 1px 14px;
}

.button{
  margin: 2px 32px;
}

.header{
  /* height: 60px; Adjust the height as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px; /* Add some padding if needed */
  background-color: #fff; /* Ensure the background color is set */
  z-index: 100; /* Ensure the header is on top of other elements */
  height:60px;
}

.content{
  margin: 68px 48px 40px 280px;

}

.button {
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cds--side-nav__navigation {
  margin-top:16px;
  border-right:1px solid #e0e0e0;
}



